<legend>
	<h3>Listing projects</h3>
</legend>

<div class="well">
	<h3>Instructions
		<button type="button" data-toggle="collapse" 
			data-target="#listinfo" class="btn btn-info btn-mini">
			Collapse/Expand
		</button>
	</h3>
	<div id="listinfo" class="collapse">
		<p>
			Below is a list of the current projects on the server
		</p>
	</div>
</div>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Creator</th>
    <th>User</th>
    <th>Public</th>
    <th>Approved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.creator %></td>
    <td><%= owner_user(project.user_id).username %></td>
    <td><%= project.public %></td>
    <td><%= project.approved %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
