<legend>
	<h3>
		Add New Node
	</h3>
</legend>

<div class="span9">
<div class="well">
	<h3>Instructions
		<button type="button" data-toggle="collapse" data-target="#newnodeinfo" class="btn btn-info btn-mini">
			Collapse/Expand
		</button>
	</h3>
	
	<div id="newnodeinfo" class="collapse">
		<p>
			First search for a node by its latin or common name.
			Once you have selected an Itis node by latin or common name,
			click "Add Node" to fill out the rest of the necessary
			information.
		</p>
	</div>
</div>
</div>

<%= form_for(@node) do |f| %>
	<% if @node.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@node.errors.count, "error") %>
				prohibited this node from being saved:
			</h2>

			<ul>
				<% @node.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="span4">
		<%= f.label :working_name %>
		<%= f.text_field :working_name %>
		<!--<%= f.autocomplete_field :working_name, autocomplete_node_working_name_nodes_path %> -->
		<img src="assets/ajax-loader.gif" id="loading-indicator" style="display:none" />
	</div>
	
	<div class="span4">
		<%= f.label :functional_group_id %>
		<%= collection_select(:node, :functional_group_id,
			FunctionalGroup.all, :id, :name, :prompt => "Select Functional Group") %>
	</div>
	
	<div class="span4">
		<%= f.label :itis_id, "ITIS" %>
		<%= f.number_field :itis_id %>
	</div>

	<div class="span4">
		<%= f.label :non_itis_id, "Non-ITIS" %>
		<%= f.number_field :non_itis_id %>
	</div>
	
		
	<div class="span4">
		<%= f.label :native_status %>
		<%= f.text_field :native_status %>
	</div>

	<div class="span4">
		<%= f.label :is_assemblage %>
		<%= f.check_box :is_assemblage %>			
	</div>
	
	<div class="span9">
		<div class="well">
			<div class="actions">
				<%= f.submit :class=>"btn btn-inverse offset2" %>
				<button type="reset" class="btn btn-inverse">Reset</button>
			</div>
		</div>
	</div>
<% end %>

