<%= form_for(@new_stage, :url => {:action => "create_stage",:controller=>"stages"}) do |f| %>
  <% if @new_stage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_stage.errors.count, "error") %> prohibited this stage from being saved:</h2>

      <ul>
      <% @new_stage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :name %>
  <%= f.hidden_field :node_id %>
  
  
  
  
  <div class="actions">
    <%= f.submit 'Create Stage', :class => 'btn btn-inverse'%>
  </div>
<% end %>
