<div class="row">
    <div class="span10 offset1">
        <h1 class="text-center">Welcome to your Dashboard <br \>
        <%= current_user.firstname %> 
        <%= current_user.lastname %></h1>

    </div>
</div>
<div class="tabbable tabs-left span8 offset1">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#navhome" data-toggle="tab">Home</a>
        </li>
        <li>
            <a href="#nodes" data-toggle="tab">Nodes</a>
        </li>
        <li>
            <a href="#cits" data-toggle="tab">Citations</a>
        </li>
        <li>
            <a href="#inters" data-toggle="tab">Interactions</a>
        </li>
        
        <% if can? :access, :rails_admin %>
        
        	<li>
            <a href="#regions" data-toggle="tab">Regions</a>
        	</li>
        	
        	<li>
            <a href="#users" data-toggle="tab">Users</a>
        	</li>
        	
        	<li>
            <a href="admin">Database</a>
        	</li>
        <% end %>
    </ul>
	
	<div class="tab-content">
        <div class="tab-pane active" id="navhome">
		<!-- google map -->
		<div class="span 4 offset1">
			<%= gmaps({
			"polygons"    => { :data => @polygons}   , :map_options => {:libraries => ["drawing"], :fillColor => "#000" }, :last_map => false})%>
    </div>
<!-- Some java script for the google map being clickable -->
<% content_for :scripts do %>
<script type="text/javascript" charset="utf-8">

Gmaps.map.callback = function() 
{
    for (var i=0;i<Gmaps.map.polygons.length;i++){
    Gmaps.map.polygons[i].infowindow = new google.maps.InfoWindow
    ({
        content: 'you clicked on region ' + i
    });


	function infowindow(num)
	{
		 return function (event) 
		{
				
				console.log("the click event fired");
				infowindow =  Gmaps.map.polygons[num].infowindow 
				infowindow.setPosition(event.latLng);
				infowindow.open(Gmaps.map.map);

		};
	}(i);
		google.maps.event.addListener(Gmaps.map.polygons[i].serviceObject, "click", infowindow(i));
	}
		google.maps.event.addListener(Gmaps.map.serviceObject, "click", function(event) {
		alert(event.latLng);
		});
}

</script>
<!-- end javascript -->
<% end %>

        </div>
        <div class="tab-pane" id="nodes">
         
        </div>
        <div class="tab-pane" id="cits">
            
        </div>
        <div class="tab-pane" id="inters">
            
        </div>
        
        <div class="tab-pane" id="users">
        	<div class="tab-pane" id="all">
        		<div class="well">
        			<%= render :partial => 'users' %>
        		</div>
        	</div>
        </div>
		<div class ="tab-pane" id="regions">
			<div class="well">
        		<%= render :partial => 'region' %>
        	</div>
		</div>
			
    </div>
</div>


