<div class="row">
    <div class="span10 offset1">
        <h1 class="text-center">Welcome to your Dashboard <br \>
        <%= current_user.firstname %> 
        <%= current_user.lastname %></h1>

    </div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
		<div class="tabbale">
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="#navmap" data-toggle="tab">Map</a>
        </li>
        
        <li>
            <a href="#nodes" data-toggle="tab">Nodes</a>
        </li>
        
        <li>
            <a href="#cits" data-toggle="tab">Citations</a>
        </li>
        <li>
            <a href="#inters" data-toggle="tab">Interactions</a>
        </li>
        
        <% if can? :access, :rails_admin %>
			<% if current_user.role == 'lead' %>
        	<li>
            <a href="#regions" data-toggle="tab">Regions</a>
        	</li>
        	<% end%>
        	<% if current_user.role == 'admin' %>
        		<li>
        			<a href="#projects" data-toggle="tab">Projects</a>
        		</li>
        	<% end %>
        	<li>
            <a href="#userstab" data-toggle="tab">Users</a>
        	</li>
        	
        	<li>
            <a href="admin">Database</a>
        	</li>
        <% end %>
    </ul>
   </div>
  </div>
	<div class="span10">
		<div class="tab-content">
			<div class="tab-pane active" id="navmap">
				<!-- google map -->
					<%= gmaps({"polygons"    => { :data => @polygons} , :map_options => {:libraries => ["drawing"], :fillColor => "#000" }, :last_map => false})%>
    
				<!-- Some java script for the google map being clickable -->
					<% content_for :scripts do %>
						<script type="text/javascript" charset="utf-8">
							Gmaps.map.callback = function() {
								for (var i=0;i<Gmaps.map.polygons.length;i++){
								Gmaps.map.polygons[i].infowindow = new google.maps.InfoWindow
								({ content: 'you clicked on region ' + i });

							function infowindow(num){
								return function (event){
									console.log("the click event fired");
									infowindow =  Gmaps.map.polygons[num].infowindow 
									infowindow.setPosition(event.latLng);
									infowindow.open(Gmaps.map.map);} ; }(i);

				google.maps.event.addListener(Gmaps.map.polygons[i].serviceObject, "click", infowindow(i)); }
				google.maps.event.addListener(Gmaps.map.serviceObject, "click", function(event) {
					alert(event.latLng); }); }

</script>
<!-- end javascript -->
<% end %>

        </div>
        <div class="tab-pane" id="nodes">
          <%= render 'dashboard/denode' %>
        </div>
        <div class="tab-pane" id="cits">
           <%= render 'dashboard/decitations' %>
        </div>
        <div class="tab-pane" id="inters">
           <%= render 'dashboard/deinteractions' %>
        </div>
        
        <div class="tab-pane" id="userstab">
        	<%= render :partial => 'users' %>
        </div>
        
				<div class ="tab-pane" id="regions">
      		<%= render :partial => 'region' %>
				</div>

				<div class="tab-pane" id="projects">
					<%= render :partial => 'projects' %>
				</div>

    </div>
</div>
