

<%= form_for(@citation) do |f| %>
  <% if @citation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@citation.errors.count, "error") %> prohibited this citation from being saved:</h2>

      <ul>
      <% @citation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span8 offset1">   
    <%= f.label :abstract %>
      <%= f.text_area :abstract, :class=>"span11" , :rows => "5" %>
      <br \>
  </div>

    <div class="span4 offset1">      
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="span4">
        <%= f.label :document %>
        <%= f.text_field :document %>
      </div>
        <div class="span4 offset1">
        <%= f.label :publisher %>
        <%= f.text_field :publisher %>
      </div>      
      <div class="span4">
        <%= f.label :volume %>
        <%= f.number_field :volume %>
      </div>
      <div class="span4 offset1">
        <%= f.label :year %>
        <%= f.number_field :year %>
      </div>      
      <div class="span4">
        <%= f.label :pages %>
        <%= f.text_field :pages %>
      </div>

      <div class="span4 offset1">
          <%= f.label :format_title %>
          <%= f.text_field :format_title %>
      </div>
    <div class="span4">
        <%= f.label :number %>
        <%= f.number_field :number %>
    </div>


  <div class="span9 form-actions">
    <%= f.submit :class => 'btn btn-inverse'%>
    <button type="reset" class="btn btn-inverse">
      Reset
    </button>
  </div> 
  <% end %>

