<div class="container">
	<div class="page-header span10 edit-account-title">
		<h1>Edit <%= current_user.firstname %> <%= current_user.lastname %></h1>
	</div>
	
	<div class="span12">
		<!-- Begin: Edit Account Form -->
		
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
		<%= devise_error_messages! %>
		<div class="row">	
			<!--begin: first column-->
			<div class="span4 offset1">
				<div class="field">
					<%=f.label :first_Name %>
					<%= f.text_field :firstname, :readonly =>true %>
				</div>
				
				<div class="field">
					<%=f.label :last_Name %>
					<%= f.text_field :lastname, :readonly =>true %>
				</div>
				
				<div class="field">
					<%=f.label :username %>
					<%= f.text_field :username, :readonly=>true %>
				</div>
				
				<div class="field">
					<%= f.label :email %>
					<%= f.email_field :email, :autofocus => true %>
				</div>

				<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
				<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
				<% end %>
			</div>
			<!--end: first column-->
			
			<!--begin: second column-->
			<div class="span4">
				<div>
					<%= f.label :password  %> <br />
					<%= f.password_field :password, :placeholder => "leave blank for unchanged", :autocomplete => "off" %>
				</div>

				<div>
					<%= f.label :password_confirmation %>
					<%= f.password_field :password_confirmation, :placeholder => "leave blank for unchanged" %>
				</div>

				<div>
					<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
					<%= f.password_field :current_password %>
				</div>

				
			</div>
			<!--end: second column-->
			
		</div>
			
		<!--begin: buttons -->
		<div class="form-actions span10">
			<%= f.submit "Update" , :class => 'btn btn-inverse'%>
			<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete , :class => 'btn btn-inverse'%>		
			<%= link_to "Back", :back ,:class => 'btn btn-inverse'%>
		</div>
		<!--end: buttons -->
			
			<% end %>
		<!-- End: Edit Account Form -->
	</div>
</div>
