<fieldset>
    <legend>
        Add New Node
    </legend>

    <%= form_for(@node) do |f| %>
    <% if @node.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>

        <ul>
            <% @node.errors.full_messages.each do |msg| %>
            <li>
                <%= msg %>
            </li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <div class="field">
        <%= f.label :itis_id %>
        <%= f.number_field :itis_id %>
    </div>
    <div class="field">
        <%= f.label :non_itis_id %>
        <%= f.number_field :non_itis_id %>
    </div>
    <div class="field">
        <%= f.label :working_name %>
        <%= f.text_field :working_name %>
    </div>
    <div class="field">
        <%= f.label :functional_group_id %>
        <%= f.number_field :functional_group_id %>
    </div>
    <div class="field">
        <%= f.label :native_status %>
        <%= f.text_field :native_status %>
    </div>
    <div class="field">
        <%= f.label :is_assemblage %>
        <%= f.check_box :is_assemblage %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
    <% end %>
</fieldset>
