<p id="notice"><%= notice %></p>

<p>
  <b>Cite:</b>
  <%= @stage_length_fecundity.cite_id %>
</p>

<p>
  <b>Stage:</b>
  <%= @stage_length_fecundity.stage_id %>
</p>

<p>
  <b>Length fecundity:</b>
  <%= @stage_length_fecundity.length_fecundity %>
</p>

<p>
  <b>A:</b>
  <%= @stage_length_fecundity.a %>
</p>

<p>
  <b>B:</b>
  <%= @stage_length_fecundity.b %>
</p>

<p>
  <b>Comment:</b>
  <%= @stage_length_fecundity.comment %>
</p>

<p>
  <b>Datum:</b>
  <%= @stage_length_fecundity.datum %>
</p>

<p>
  <b>User:</b>
  <%= @stage_length_fecundity.user_id %>
</p>


<%= link_to 'Edit', edit_stage_length_fecundity_path(@stage_length_fecundity) %> |
<%= link_to 'Back', stage_length_fecundities_path %>
