<p id="notice"><%= notice %></p>

<p>
  <b>Cite:</b>
  <%= @parasitic_interaction_observation.cite_id %>
</p>

<p>
  <b>Parasitic interaction:</b>
  <%= @parasitic_interaction_observation.parasitic_interaction_id %>
</p>

<p>
  <b>Location:</b>
  <%= @parasitic_interaction_observation.location_id %>
</p>

<p>
  <b>Endo ecto:</b>
  <%= @parasitic_interaction_observation.endo_ecto %>
</p>

<p>
  <b>Lethality:</b>
  <%= @parasitic_interaction_observation.lethality %>
</p>

<p>
  <b>Prevalence:</b>
  <%= @parasitic_interaction_observation.prevalence %>
</p>

<p>
  <b>Intensity:</b>
  <%= @parasitic_interaction_observation.intensity %>
</p>

<p>
  <b>Parasite type:</b>
  <%= @parasitic_interaction_observation.parasite_type %>
</p>

<p>
  <b>Observation type:</b>
  <%= @parasitic_interaction_observation.observation_type %>
</p>

<p>
  <b>Comment:</b>
  <%= @parasitic_interaction_observation.comment %>
</p>

<p>
  <b>Datum:</b>
  <%= @parasitic_interaction_observation.datum %>
</p>

<p>
  <b>User:</b>
  <%= @parasitic_interaction_observation.user_id %>
</p>


<%= link_to 'Edit', edit_parasitic_interaction_observation_path(@parasitic_interaction_observation) %> |
<%= link_to 'Back', parasitic_interaction_observations_path %>
