<p id="notice"><%= notice %></p>

<p>
  <b>Cite:</b>
  <%= @stage_consume_biomass_ratio.cite_id %>
</p>

<p>
  <b>Stage:</b>
  <%= @stage_consume_biomass_ratio.stage_id %>
</p>

<p>
  <b>Consume biomass ratio:</b>
  <%= @stage_consume_biomass_ratio.consume_biomass_ratio %>
</p>

<p>
  <b>Comment:</b>
  <%= @stage_consume_biomass_ratio.comment %>
</p>

<p>
  <b>Datum:</b>
  <%= @stage_consume_biomass_ratio.datum %>
</p>

<p>
  <b>User:</b>
  <%= @stage_consume_biomass_ratio.user_id %>
</p>


<%= link_to 'Edit', edit_stage_consume_biomass_ratio_path(@stage_consume_biomass_ratio) %> |
<%= link_to 'Back', stage_consume_biomass_ratios_path %>
