<div class="container">
	<div class="span4 offset4">
		<h1 class="text-center">Showing Author <br \>
			<%= @author.first_name %> 
      <%= @author.last_name %></h1>
		<p id="notice"><%= notice %></p>
		<p>
  		<b>First Name:</b>
  		<%= @author.first_name %>
		</p>

		<p>
			<b>Last Name:</b>
			<%= @author.last_name %>
		</p>

		<p>
			<b>Project ID:</b>
			<%= @author.project_id %>
		</p>

		<p>
			<b>User ID:</b>
			<%= @author.user_id %>
		</p>

		<p>
			<b>Approved:</b>
			<%= @author.approved %>
		</p>

		<%= link_to 'Edit', edit_author_path(@author) %> |
		<%= link_to 'Back', authors_path %>
	</div>
</div>
