<div class="page-header span10 offset1">
    <h1>Help</h1>
</div>

<div class="tabbable tabs-left span10 offset1">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#navhome" data-toggle="tab"><strong>Home</strong></a>
        </li>
        <li>
            <a href="#general" data-toggle="tab"><strong>General</strong></a>            
        </li>
        <li>
            <a href="#admin" data-toggle="tab"><strong>Administrator</strong></a>
        </li>
        <li>
            <a href="#projlead" data-toggle="tab"><strong>Project Leader</strong></a>
        </li>
        <li>
            <a href="#mod" data-toggle="tab"><strong>Moderator</strong></a>
        </li>
        <li>
            <a href="#user" data-toggle="tab"><strong>User</strong></a>
        </li>
    </ul>
	
	<!--Begin: content -->
    <div class="tab-content"> 
    	<div class="tab-pane active offset2" id="navhome">
            <p>
                Click on one of the tabs on the left to navigate to your help topic.
            </p>
        </div>
       	<div class="tab-pane" id="general">
        	<%= render 'home/general' %>
       	</div>
       	<div class="tab-pane" id="admin">
        	<%= render 'home/administrator' %>
       	</div>
       	<div class="tab-pane" id="projlead">
        	<%= render 'home/project_leader' %>
       	</div>
        <div class="tab-pane" id="mod">
            <%= render 'home/moderator' %>
        </div>
       	<div class="tab-pane" id="user">
        	<%= render 'home/user' %>
       	</div>
	</div>       
</div>
