<%= form_for(@stage_habitat) do |f| %>
  <% if @stage_habitat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stage_habitat.errors.count, "error") %> prohibited this stage_habitat from being saved:</h2>

      <ul>
      <% @stage_habitat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cite_id %><br />
    <%= f.number_field :cite_id %>
  </div>
  <div class="field">
    <%= f.label :stage_id %><br />
    <%= f.number_field :stage_id %>
  </div>
  <div class="field">
    <%= f.label :habitat %><br />
    <%= f.text_field :habitat %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :datum %><br />
    <%= f.text_field :datum %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
