<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :creator %>
    <%= f.select "creator", User.find(:all).collect{|p| [p.username, p.username]} %>
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= options_from_collection_for_select(User.all, :id, :username) %>
		<%= collection_select(:project, :user_id, User.all, :id, :username, :prompt => "Please select user") %>
  </div>
  
  
  <div class="field">
    <%= f.label :public %>
    <%= f.check_box :public %>
  </div>
 
  <div class="field">
    <%= f.label :approved %>
    <%= f.check_box :approved %>
  </div>
  <div class="actions">
    <%= f.submit :class=>"btn btn-inverse"%>
  </div>
<% end %>
