<p id="notice"><%= notice %></p>
<h2 style="text-align: center"> Showing Project <%= @project.name %> </h2>
<br 
<div class="span12">
	<div class="row-fluid">
		
		<div class="span2 offset5">
			<div class="well">
			<p>
				<b>Name:</b>
				<%= @project.name %>
			</p>

			<p>
				<b>Creator:</b>
				<%= @project.creator %>
			</p>

			<p>
				<b>User:</b>
				<%= owner_user(@project.user_id).username %>
			</p>

			<p>
				<b>Public:</b>
				<%= @project.public %>
			</p>

			<p>
				<b>Approved:</b>
				<%= @project.approved %>
			</p>
			
			<button type="button">
				<%= link_to 'Edit', edit_project_path(@project) %>
			</button>
			
			<button type="button">
				<%= link_to 'Back', projects_path %>
			</button>
		</div>
	</div>
	</div>
</div>
