<p id="notice"><%= notice %></p>

<p>
  <b>Cite:</b>
  <%= @trophic_interaction_observation.cite_id %>
</p>

<p>
  <b>Trophic interaction:</b>
  <%= @trophic_interaction_observation.trophic_interaction_id %>
</p>

<p>
  <b>Location:</b>
  <%= @trophic_interaction_observation.location_id %>
</p>

<p>
  <b>Lethality:</b>
  <%= @trophic_interaction_observation.lethality %>
</p>

<p>
  <b>Structures consumed:</b>
  <%= @trophic_interaction_observation.structures_consumed %>
</p>

<p>
  <b>Percentage consumed:</b>
  <%= @trophic_interaction_observation.percentage_consumed %>
</p>

<p>
  <b>Percentage diet:</b>
  <%= @trophic_interaction_observation.percentage_diet %>
</p>

<p>
  <b>Percentage diet by:</b>
  <%= @trophic_interaction_observation.percentage_diet_by %>
</p>

<p>
  <b>Prefernce:</b>
  <%= @trophic_interaction_observation.prefernce %>
</p>

<p>
  <b>Observation type:</b>
  <%= @trophic_interaction_observation.observation_type %>
</p>

<p>
  <b>Comment:</b>
  <%= @trophic_interaction_observation.comment %>
</p>

<p>
  <b>Datum:</b>
  <%= @trophic_interaction_observation.datum %>
</p>

<p>
  <b>User:</b>
  <%= @trophic_interaction_observation.user_id %>
</p>


<%= link_to 'Edit', edit_trophic_interaction_observation_path(@trophic_interaction_observation) %> |
<%= link_to 'Back', trophic_interaction_observations_path %>
