<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.login %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>











Dear site administrator,

You're lucky today, you've got feedback from your users:

Subject: <%=h @feedback.subject %>
User's email: <%=h @feedback.email %>
Sent at: <%= Time.now %>
From Page: <%= @feedback.page %>

Comment: 
<%=h @feedback.comment %>
