<%= form_for(@stage_length_weight) do |f| %>
  <% if @stage_length_weight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stage_length_weight.errors.count, "error") %> prohibited this stage_length_weight from being saved:</h2>

      <ul>
      <% @stage_length_weight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cite_id %><br />
    <%= f.number_field :cite_id %>
  </div>
  <div class="field">
    <%= f.label :stage_id %><br />
    <%= f.number_field :stage_id %>
  </div>
  <div class="field">
    <%= f.label :length_weight %><br />
    <%= f.text_field :length_weight %>
  </div>
  <div class="field">
    <%= f.label :a %><br />
    <%= f.text_field :a %>
  </div>
  <div class="field">
    <%= f.label :b %><br />
    <%= f.text_field :b %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :datum %><br />
    <%= f.text_field :datum %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
