<p id="notice"><%= notice %></p>

<p>
  <b>Config:</b>
  <%= @app.config %>
</p>

<p>
  <b>Config.ru:</b>
  <%= @app.config.ru %>
</p>

<p>
  <b>Db:</b>
  <%= @app.db %>
</p>

<p>
  <b>Doc:</b>
  <%= @app.doc %>
</p>

<p>
  <b>Gemfile:</b>
  <%= @app.Gemfile %>
</p>

<p>
  <b>Gemfile~:</b>
  <%= @app.Gemfile~ %>
</p>

<p>
  <b>Gemfile.lock:</b>
  <%= @app.Gemfile.lock %>
</p>

<p>
  <b>Lib:</b>
  <%= @app.lib %>
</p>

<p>
  <b>Log:</b>
  <%= @app.log %>
</p>

<p>
  <b>Old:</b>
  <%= @app.old %>
</p>

<p>
  <b>Public:</b>
  <%= @app.public %>
</p>

<p>
  <b>Rakefile:</b>
  <%= @app.Rakefile %>
</p>

<p>
  <b>Readme.md:</b>
  <%= @app.README.md %>
</p>

<p>
  <b>Readme.rdoc:</b>
  <%= @app.README.rdoc %>
</p>

<p>
  <b>Script:</b>
  <%= @app.script %>
</p>

<p>
  <b>Test:</b>
  <%= @app.test %>
</p>

<p>
  <b>Tmp:</b>
  <%= @app.tmp %>
</p>

<p>
  <b>Vendor:</b>
  <%= @app.vendor %>
</p>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
