<h1>Listing stage_mobilities</h1>

<table>
  <tr>
    <th>Cite</th>
    <th>Stage</th>
    <th>Mobility</th>
    <th>Comment</th>
    <th>Datum</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stage_mobilities.each do |stage_mobility| %>
  <tr>
    <td><%= stage_mobility.cite_id %></td>
    <td><%= stage_mobility.stage_id %></td>
    <td><%= stage_mobility.mobility %></td>
    <td><%= stage_mobility.comment %></td>
    <td><%= stage_mobility.datum %></td>
    <td><%= stage_mobility.user_id %></td>
    <td><%= link_to 'Show', stage_mobility %></td>
    <td><%= link_to 'Edit', edit_stage_mobility_path(stage_mobility) %></td>
    <td><%= link_to 'Destroy', stage_mobility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stage mobility', new_stage_mobility_path %>
