<%= form_for(@non_iti) do |f| %>
  <% if @non_iti.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@non_iti.errors.count, "error") %> prohibited this non_iti from being saved:</h2>

      <ul>
      <% @non_iti.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :latin_name %><br />
    <%= f.text_field :latin_name %>
  </div>
  <div class="field">
    <%= f.label :taxonomy_level %><br />
    <%= f.text_field :taxonomy_level %>
  </div>
  <div class="field">
    <%= f.label :parent_id_is_itis %><br />
    <%= f.check_box :parent_id_is_itis %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_area :info %>
  </div>
    <div class="actions">
    <%= f.submit "Create Non-ITIS Node" %>
  </div>
<% end %>
