<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= content_for?(:title) ? yield(:title) : "Food Web Builder" %></title>
		<meta name="description" content="">
		<meta name="author" content="">
		<%= stylesheet_link_tag "application", :media => "all" %>

		<%= javascript_include_tag "application" %>
		<%= feedback_includes %>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
	</head>

	<body>
		<div id="navbar wrapper">

			<header class="navbar navbar-inverse navbar-fixed-top">
				<nav class="navbar-inner">
					<div class="container=fluid offset2">
						<%= render 'layouts/navigation' %>
					</div>
				</nav>
				<%= feedback_tab(:position => 'right') %>
			</header>
		</div>
		<!-- end nav-wrapper -->
		
		<!-- Main container -->
		<div id="main" role="main">
			<div class="container" style="margin-top:40px">
				<div class="content">
					<div class="row">
						<div class="span12">
							<%= render 'layouts/messages' %>
							<%= yield %>
						</div>
						<!-- end span12 -->
					</div>
					<!-- end row -->
				</div>
				<!-- end content -->
			</div>
			<!-- end of container -->
			<div id="push"></div>
		</div>
		<!-- end main -->

		<%= yield :scripts %>
	</body>
	<!-- start footer -->
	<div class="navbar navbar-fixed-bottom">
		<div id="footer">
			<div class="container">
				<p class="text-info credit text-center">
					This website is under development. We would greatly appreciate any feedback through the "feedback" tab on
					the right hand side of the browser window.
				</p>
			</div>
		</div>
	</div>
</html>
